/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */

/************************MAIN********************************************************************/
.brand-logo{
	height:60px;
	margin-top: 5px;
}

.buttonContainer{
	margin-top: 1em;
	position: relative;
	text-align: center;
}

.image-container{
	margin-top: 3em;
	position: absolute;
}

.image-container img{
	position: block;
	width:100%;
	height: 100%;
}


.fade.ng-enter, .fade.ng-leave{
	transition: 1s linear all;
}
.fade.ng-enter {
	opacity: 0
	z-index: -1000;
}

.fade.ng-enter-active.ng-enter{
	opacity: 1
	z-index: -1000;
}

.fade.ng-leave{
	opacity: 1;
}

.fade.ng-leave-active.ng-leave{
	opacity: 0;
}

.row{
	position: relative;
}